.reveal section img {
  border: 0;
  box-shadow: none;
  background: none;
}

code.lang-python.hljs span.line {
    opacity:1.0 !important;
}

code.lang-python.hljs span.line.focus{
    color: red;
}

.lines > img{
    height : 450px;
}

.twitter-blue{
    color: #00aced;
}

.circle img {
    /* border-radius: 50%; */
    clip-path: circle(200px at center);
}
