.reveal section img {
  border: 0;
  box-shadow: none;
  background: none;
}

code.lang-python.hljs span.line {
    opacity:1.0 !important;
}

code.lang-python.hljs span.line.focus{
    color: red;
}

.lines > img{
    height : 450px;
}

.twitter-blue{
    color: #00aced;
}

div>div>section>h4>span.gc-slide ~ #gp-logo>img{
    opacity:0.5 !important;
}


#gp-logo>img {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: #f00;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 40000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 40000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 40000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
  }

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}