.reveal section img {
  border: 0;
  box-shadow: none;
  background: none;
}

code.lang-python.hljs span.line {
    opacity:1.0 !important;
}

code.lang-python.hljs span.line.focus{
    color: red;
}

.lines > img{
    height : 250px;
}